body {
	background-color: #F7F7F7;
	padding: 20px;
}

.card-header {
	background-color: #0D47A1;
	color: #FFFFFF;
}

.btn-primary {
	background-color: #0D47A1;
	border-color: #0D47A1;
	color: white;
}

.btn-primary:hover {
	background-color: #1E88E5;
	border-color: #1E88E5;
}

.nav-tabs .nav-link {
	color: #000;
	border-radius: 0;
	border: none;
}

.nav-tabs .nav-link:hover {
	background-color: #F7F7F7;
}

.tabla-link {
	color: #fff;
	font-size: 18px;
}

.tabla-subject {
	color: #000;
	font-size: 18px;
}